


<div class="team">
  <h1><%=@team.name %></h1><br>
  <h2>Team Motto: <%= @team.motto %></h2><br>
</div><br>


<% @heros.each.with_index do |hero, index| %>
  <div class="heros">
    <h2>Hero Name: <%= hero[index].name %></h2><br>
    <p>Hero Power: <%= hero[index].power %></p><br>
    <p>Hero Biography: <%= hero[index].bio %></p>
  </div><br>
<% end %>


